<%- layout("/layouts/boilerplate.ejs") %>

<div class="section-1">
    <div class="num-day"><h2>0.1 %</h2>
        
        <p>5 min</p>
    </div>
    <div class="num-day"><h2>0.96 %</h2>
        
    <p>1 Hour</p>
</div>
    <div class="rupees-center-section"><p>Best Price to Trade</p>
    <h1>&#8377; 26,56,110</h1>
    <br>
    <br>
    <h6>Average BTC/INR note price including commision</h6>
</div>
    <div class="num-day"><h2>2.73 %</h2>
        
        <p>1 Day</p>
    </div>
    <div class="num-day"><h2>7.51 %</h2>
        
        <p>7 Days</p></div>

</div>

<div class="section-2">
    <div class="item-container-nav">
    <h4>#</h4>
    <h4>Plateform</h4>
    <h4>Last Traded Price</h4>
    <h4>Buy / Sell Price</h4>
    <h4>Diffrence</h4>
    <h4>Savings</h4>
</div>


    <div class="item-container-list">
        <h4 class="table-numbers profit-numbers">1</h4>
    <h4 class="Plateform">WazirX</h4>
    <h4 class="Last-Traded">&#8377; 25,72,612</h4>
    <h4 class="Buy-currency">&#8377; 25,72,610/&#8377; 25,72,612</h4>
    <h5 class="Diffrence danger-numbers">-3.14 % </h5>
    <h5 class="Savings"><i class="fa-solid fa-caret-down"></i> &#8377; 25,72,610</h5>
    </div>

    <div class="item-container-list">
        <h4 class="table-numbers profit-numbers">1</h4>
    <h4 class="Plateform">Bitcoin</h4>
    <h4 class="Last-Traded">&#8377; 28,83,906</h4>
    <h4 class="Buy-currency">&#8377; 28,55,164/&#8377; 28,82,157</h4>
    <h2 class="Diffrence danger-numbers">8.58 % </h2>
    <h2 class="Savings"><i class="fa-solid fa-caret-up"></i> &#8377; 2,27,796</h2>
    </div>

    <div class="item-container-list">
        <h4 class="table-numbers profit-numbers">1</h4>
    <h4 class="Plateform">Colodax</h4>
    <h4 class="Last-Traded">&#8377; 25,46,035</h4>
    <h4 class="Buy-currency">&#8377; 25,33,304/&#8377; 28,51,559</h4>
    <h5 class="Diffrence danger-numbers">-4.14 % </h5>
    <h5 class="Savings"><i class="fa-solid fa-caret-down"></i> &#8377; 1,10,074</h5>
    </div>

    <div class="item-container-list">
        <h4 class="table-numbers profit-numbers">1</h4>
    <h4 class="Plateform">Zebpay</h4>
    <h4 class="Last-Traded">&#8377; 26,50,000</h4>
    <h4 class="Buy-currency">&#8377; 26,49,999/&#8377; 26,21,000</h4>
    <h5 class="Diffrence danger-numbers">-0.23 % </h5>
    <h5 class="Savings"><i class="fa-solid fa-caret-down"></i> &#8377; 6,110</h5>
    </div>


</div>

<div class="bottom-button">
    <button type="button" class="btn btn-outline-primary">Add hodlinfo to home screen</button>
</div>